@import "../variables.scss";
/* Responsive Layout Sizes */ 
@mixin layout-legacy{
    @media screen and (max-width: $layout-legacy){
        @content;
    }
}
@mixin layout-medium{
    @media screen and (max-width: $layout-medium){
        @content;
    }
}
@mixin layout-small{
    @media screen and (max-width: $layout-small){
        @content;
    }
}
/* Responsive Font Shrinker */ 
@mixin text-shrink($size, $height){
    @include layout-legacy{
        $resize: $size * 0.75;
        $lineHeight: $height * 0.75;
    }
    @include layout-medium{
        $resize: $size * 0.5;
        $lineHeight: $height * 0.5;
    }
    @include layout-small{
        $resize: $size * 0.33;
        $lineHeight: $height * 0.33;
    }
}