$HeadFont: 'Tourney', cursive !default;
$BodyFont: 'Karla', sans-serif !default;

/* Page colors */ 
$light: #c2c2c2 !default;
$grey: #878E88 !default;
$aqua: #42f2f7 !default;
$dark: #13262f !default;

/* Game peg colors */ 
$red: red;
$blue: blue;
$lime: lime;
$yellow: yellow;
$purple: purple;
$black: black;

/* Hints board colors */
$orange: orange;
$green: green;

/* Responsive Sizing */
$layout-legacy: 1024px !default;
$layout-medium: 768px !default;
$layout-small: 425px !default; 